.App {
  background-color: black;
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  color: #fff;
}
.card-container {
  display: flex;
  background-color: gray;
  border-radius: 8px;
  cursor: pointer;
}
.img-container img {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  height: 100%;
  width: 250px;
}

.favourite-container {
  display: block;
  color: #fff;
}
.character-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
